#fondo-class-calendary-add{
    width: calc(100% - 80px);
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

#adding-element-div-principal{
    width: 40%;
    height: 80%;
    border: 1px solid black;
    display: block;
}

#div-input-text, #div-input-text, #div-text-label-info{
    width: 100%;
    height: 10%;
}

h1{
    color: rgb(204, 39, 72);
}

#div-hours-days{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
}

#input-text-adding{
    width: 50%;
    background-color: rgba(128, 128, 128, .4);
}
#left-hours, #right-day{
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-inputs{
    width: 30%;
    display: flex;
    justify-content: space-between;
}

#div-button-adding-calendary{
    width: 100%;
    height: 10%;
}

.button-adding-calendary{
    width: 120px;
    height: 40px;
    margin-right: 15px;
    border-radius: 10px;
}

#aceptar-button-adding{
    background-color: rgb(204, 39, 72);
    color: white;
}