.daysOfWeek{
    width: 18%;
    border: none;
}


table, th{
    border: none;
}

.Hour-td{
    font-size: 18px;
    justify-content: center;
    text-align: center;
    border: none;
}

.asunto-del-dia{
    font-size: 15px;
}