#Calendary-class-div-principal{
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#title-div-calendary{
    width: 100%;
    height: 10%;
    align-items: center;
    text-align: center;
}

#title-class-edit-calendary{
    font-size: 28px;

}

#title-teacher-class-edit{
    width: 100%;
    height: 7%;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.button-title-up-calendary{
    width: 40px;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(204, 39, 72);
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, .6);
}

#div-central-calendary{
    width: 100%;
    height: 90%;
    padding-left: 10px;
    padding-right: 10px;
}

#buttons-end-model-class{
    width: 100%;
    height: 10%;
}

#adding-element-class{
    width: 120px;
    height: 60%;
    background-color: rgb(204, 39, 72);
    color: white;
    border-radius: 5px;
    border: none;
}
