.principal-edit-class{
    width: 30%;
    height: 60%;
    display: block;
    justify-content: center;
    text-align: center;
    border: 1px solid;
}

.titulo-edit-class{
    width: 100%;
    height: 14%;
    
}

#titulo-edit-class{
    font-size: 35px;
    color: rgb(204, 39, 72);
}

#inputs-class-edit{
    width: 100%;
    height: 60%;
    
}

li{
    list-style: none;
}

.input-description-edit-class{
    margin-bottom: 10px;
    display: inline-block;
    justify-content: center;
}

#color-class-edit{
    width: 100%;
    height: 13%;
    
    display: flex;
    align-items: center;
}



#color-edit-class-text{
    float: left;
    font-size: 20px;
}

.button-color-edit-class{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    float: right;
    border-radius: 5px;
    border: none;
}

.button-edit-class{
    width: 80px;
    height: 35px;
    background-color: rgb(204, 39, 72);
    margin-right: 10px;
    color: white;
    border-radius: 5px;
    border: none;
}

#rosa{
    background-color: rgb(204, 39, 72);
}

#morado{
    background-color: blueviolet;
}

#azulM{
    background-color: rgb(22, 27, 85);
}

#azulC{
    background-color: rgb(4, 39, 255);
}

#negro{
    background-color: rgb(50, 50, 50);
}